In [1]:
import quandl

In [2]:
quandl.ApiConfig.api_key = "j4WLGXcazuyJDmMoyg3m"

In [3]:
mydata = quandl.get("FRED/GDP")

In [4]:
type(mydata)

pandas.core.frame.DataFrame

In [5]:
mydata.shape

(283, 1)

In [6]:
mydata.head()

              Value
Date
1947-01-01  243.080
1947-04-01  246.267
1947-07-01  250.115
1947-10-01  260.309
1948-01-01  266.173

In [8]:
#mydata = quandl.get("WIKI/PRICES")
#https://www.quandl.com/data/EIA/PET_RWTC_D-Cushing-OK-WTI-Spot-Price-FOB-Daily
mydata = quandl.get("EIA/PET_RWTC_D")
mydata.shape

(8082, 1)

In [9]:
mydata.head()

            Value
Date
1986-01-02  25.56
1986-01-03  26.00
1986-01-06  26.53
1986-01-07  25.85
1986-01-08  25.87