In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.DataFrame(np.arange(12).reshape(3,4), columns=['A', 'B', 'C', 'D'])
df

   A  B   C   D
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [5]:
df.drop(['A'], axis=1)

   B   C   D
0  1   2   3
1  5   6   7
2  9  10  11

In [9]:
df

   A  B   C   D
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [10]:
df.idxmax(axis=1, skipna=True)

0    D
1    D
2    D
dtype: object

In [16]:
temp = df.loc[df['A'] == 4].idxmax(axis=1)
print ("temp:", type(temp), temp)

('temp:', <class 'pandas.core.series.Series'>, 1    D
dtype: object)